<!-- Toolbar -->



<mat-toolbar color="primary" class="app-header">
  <div> <span><mat-icon>important_devices</mat-icon>  Ectotec System</span></div>
  <span class="nav-tool-items">

   <a mat-button routerLink="persona" routerLinkActive="active">Persona</a>
    <a mat-button routerLink="login" routerLinkActive="active">Login</a>
    <a mat-button routerLink="registro" routerLinkActive="active">Registro</a>

   

    <a mat-button routerLink="" routerLinkActive="active"><mat-icon>error_outline</mat-icon></a>
    <a mat-button routerLink="" routerLinkActive="active"><mat-icon>help</mat-icon></a>

  </span>
</mat-toolbar>

<router-outlet></router-outlet>
